body {
    margin:0;
    padding:0;
}
.Copy-Content {
    background: rgba(0,0,0,0.05);
    height: 100px;
    width: 100%;
}
.Copy-Content-Item1 {
    position: relative;
    top: 25px;
    width: 100%;
    text-align: center;
}
    .Copy-Content-Item1 a {
        font-size: 11.2px;
        color: #191919;
        text-decoration: none;
    }       
    .Copy-Content-Item1 em {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
    }
    .Copy-Content-Item1 a:hover {
        text-decoration: underline;
    }