body {
    padding:0;
    margin:0;
}
.Info-Content{
    background-color:red;
    border:solid 1px blue;
    height:900px;
    width:100%;
    display:flex;
}
.Info-Content-List {
    background-color: yellow;
    flex: 0.5;
    border: solid 1px blue;
    display:flex;
}
.Info-Content-item {
    background-color: yellow;
    flex:1.5;
    border:solid 2px blue;
}